<h1>Weather Forecast</h1>

<%# Form for entering an address/zipcode to get a forecast %>
<%= form_with url: forecasts_path, method: :get, local: true do |form| %>
  <div>
    <%= form.label :zipcode, "Enter an Address or Zip/Postal Code:" %>
    <%= form.text_field :zipcode, value: @zipcode, placeholder: "e.g. 102 E Broadway St, Bolivar, MO 65613", class: "wide-text-field" %>
    <%= form.submit "Get Forecast" %>
  </div>
<% end %>

<hr>

<%# Display the forecast if present %>
<% if @forecast %>
  <h2>Forecast for <%= @zipcode %></h2>
  <ul>
    <li>Current Temperature: <%= @forecast.temperature %>°F</li>
    <li>High: <%= @forecast.high %>°F</li>
    <li>Low: <%= @forecast.low %>°F</li>
    <li><em>Pulled from cached data? <%= @forecast.cached %></em></li>
  </ul>

<%# Display the extended forecast %>
  <h2>7-Day Forecast</h2>
  <table class="centered-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>High (°F)</th>
        <th>Low (°F)</th>
        <th>Condition</th>
      </tr>
    </thead>
    <tbody>
      <% @forecast.extended_forecast.each do |day| %>
        <tr>
          <td><%= day[:date] %></td>
          <td><%= day[:high] %></td>
          <td><%= day[:low] %></td>
          <td><%= weather_code_to_description(day[:weathercode]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%# Display error message if present %>
<% if flash.now[:alert].present? %>
  <p style="color:red;"><%= flash.now[:alert] %></p>
<% end %>
